<template>
    <div class="input-wrap" :class="{ 'input-err': todoState.invalid }">
        <input type="text" v-model="todoState.todo">
        <TodoButton @click="createTodo()" />
    </div>
    <p class="err-msg" v-show="todoState.invalid">{{ todoState.errMsg }}</p>
</template>

<script setup>
import { defineEmits, reactive } from "vue";
import TodoButton from "./TodoButton.vue";

const emit = defineEmits(['create-todo']);

const todoState = reactive({
    todo: '',
    invalid: null,
    errMsg: ''
})
const createTodo = () => {
    todoState.invalid = null
    if (todoState.todo.length != "") {
        emit('create-todo', todoState.todo);
        todoState.todo = "";
        return;
    }
    todoState.invalid = true;
    todoState.errMsg = "Todo value cannot be empty";

}

</script>

<style lang="scss" scoped>
.input-wrap {
    display: flex;
    transition: 250ms ease;
    border: 2px solid #41b080;

    &:focus-within {
        box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1),
            0 -2px 4px -2px rgb(0 0 0 / 0.1);
    }

    &.input-err {
        border-color: red;
    }

    input {
        width: 100%;
        padding: 8px 6px;
        border: none;

        &:focus {
            outline: none;
        }
    }


}
</style>